@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background: black;
  color: white;
}

header {
  width: 100%;
  padding: 20px 10%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  display: inline;
}

.logo span {
  color: cyan;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  font-size: 16px;
  transition: 0.3s ease;
}

.nav-links a:hover,
.nav-links .active {
  color: cyan;

  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 0 10%;
}

.content {
  max-width: 500px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.highlight {
  color: cyan;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social-icons a {
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: cyan;
}

.buttons {
  display: flex;
  gap: 15px;
}

.click {
  padding: 10px 20px;
  background: cyan;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.click:hover {
  background: white;
  color: black;
}

.click-outline {
  padding: 10px 20px;
  border: 2px solid cyan;
  color: cyan;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.click-outline:hover {
  background: cyan;
  color: black;
}

.image-container {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(0, 255, 255, 0.2);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  header {
    padding: 20px 5%;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .buttons {
    justify-content: center;
  }

  .image-container {
    margin-top: 20px;
  }
}
